    @media only screen and (max-width: 800px) {
        header .container .imgs #person {
            display: none;
        }
        header .container {
            flex-wrap: wrap;
        }
        header .container .imgs {
            width: 100%;
            height: 50%;
            display: var(--flex);
            justify-content: var(--center);
            align-items: var(--center);
            margin-top: 250px;
        }
        header .container .imgs img {
            width: 80%;
        }
        header .container .card-header {
            width: 100%;
            height: 50%;
            margin-top: -750px;
        }
        header .container .card-header .card-top {
            height: 200px;
        }
        nav .container {
            width: 100%;
        }
        nav .container a {
            text-align: center;
        }
        .card-header {
            font-family: var(--font-cardHeader);
        }
        .card .btn-assinar a {
            font-family: var(--font-cardHeader);
        }
        .card {
            margin-block: 70px;
        }
        main .content {
            margin-top: 40px;
            height: 1070px;
        }
        footer {
            font-family: var(--font-cardHeader);
        }
        footer .container .midias {
            width: 40%;
        }
        footer .container .midias a img {
            width: 100%;
        }
        .planos {
            height: 1300px;
            margin-top: 60px;
        }
        .planos .container .title {
            margin-top: -60px;
        }
        #planos-footer {
            margin-top: 250px;
        }
        .linha-container {
            display: none;
        }
        #footer-home {
            margin-top: 350px;
        }
        #planos3 {
            height: 700px;
            margin-top: -55px;
        }
        .contato .container {
            width: 100%;
            flex-wrap: var(--wrap);
        }
        .contato .container .infos {
            width: 100%;
        }
        .contato .container .infos .infos-p1 {
            text-align: center;
        }
        .contato .container .infos .infos-p2 {
            text-align: center;
            height: 55px;
        }
        .contato .container .infos .infos-p3 {
            justify-content: var(--center);
            display: var(--flex);
        }
        #title-contato {
            justify-content: var(--center);
        }
        .contato .container .form-container {
            width: 100%;
            margin-top: -70px;
        }
        .contato .container .form-container form input[type="text"],
        input[type="email"],
        input[type="number"],
        input[type='submit'] {
            width: 90%;
            margin-bottom: 10px;
        }
        .contato .container .form-container form select {
            width: 100%;
            margin-bottom: 10px;
        }
        .contato .container .form-container form textarea {
            margin-bottom: 10px;
        }
        #enviar {
            margin-top: 20px;
            width: 45%;
        }
        #planos4{
            height: 300px;
            margin-bottom: -200px;
            margin-top: 520px;
        }
        #footer-contato {
            margin-top: 400px;
        }
    }