:root {
    --flex: flex;
    --center: center;
    --flex-end: flex-end;
    --flex-start: flex-start;
    --space-evenly: space-evenly;
    --space-around: space-around;
    --space-between: space-between;
    --wrap: wrap;
    --nowrap: nowrap;
    --font-cardHeader: 'Varela Round', sans-serif;
    --font-main: 'Asap', sans-serif;
    --bc-color: rgb(248, 248, 248);
    --font-color: #585858;
    --vermelho: #e00000
}

body {
    background-color: var(--bc-color);
    font-family: var(--font-main);
}

span {
    width: 100%;
    font-weight: bold;
    font-size: 18pt;
}

#card-ligue {
    font-size: 18pt;
    font-weight: normal;
}

#analise{
    font-size: 10pt;
    font-weight: 100;
    color: rgb(189, 189, 189);
}
#linha3{
    margin-top: -150px;
}

@media only screen and (max-width: 800px) {}