header {
    width: 100%;
    height: 500px;
    display: var(--flex);
    justify-content: var(--center);
    align-items: var(--center);
    background-color: #fff;
}

header .container {
    width: 85%;
    height: 100%;
    display: var(--flex);
    justify-content: var(--center);
    align-items: var(--center);
    flex-wrap: var(--npwrap);
}

header .container .imgs {
    width: 69%;
    height: 100%;
    display: var(--flex);
    justify-content: var(--space-between);
    align-items: var(--flex-end);
}

header .container .imgs #logo {
    margin-bottom: 50px;
}

header .container .imgs #person {
    width: 55%;
    margin-left: 80px;
}

header .container .card-header {
    width: 35%;
    height: 100%;
    display: var(--flex);
    justify-content: var(--center);
    align-items: var(--flex-start);
    color: #fff;
    font-family: var(--font-cardHeader);
}

header .container .card-header .card-top {
    width: 88%;
    height: 225px;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    background-color: var(--vermelho);
    box-shadow: 0px 3px 6px 3px rgba(0, 0, 0, 0.08)
}

header .container .card-header .card-top .card-top-p1 {
    width: 100%;
    height: 20%;
    display: var(--flex);
    justify-content: var(--center);
    align-items: var(--center);
}

header .container .card-header .card-top .card-top-p2 {
    width: 100%;
    height: 55%;
    display: var(--flex);
    justify-content: var(--center);
    align-items: var(--center);
    flex-wrap: var(--wrap);
    text-align: center;
    font-size: 26pt;
}

header .container .card-header .card-top .card-top-p3 {
    width: 100%;
    height: 25%;
    display: var(--flex);
    justify-content: var(--center);
    align-items: var(--center);
    font-size: 16pt;
}